* {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Work Sans", sans-serif;
}

.myMainContainer {
  display: inline-flex;
  flex-wrap: wrap;
}

.myContainer {
  border-radius: 20px;
  margin: 10px;
  height: 430px;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .myContainer {
    width: 100%;
    margin-bottom: 20px;
  }
}

.myList {
  width: 272px;
  background-color: #e5989b;
}

.addList {
  margin: 8px;
}

h4 {
  margin: 10px;
}

p {
  padding: 10px;
}

h3 {
  text-align: center;
}

.scrollList {
  overflow: auto;
  max-height: 300px;
  margin: 15px;
}

/*custom scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*navigation bar header*/

/* Add background color to top navbar */
.topnav {
  background-color: #6d6875;
  overflow: hidden;
}
